$primaryColor: #6B8F71;
$secondaryColor: #EDFBC1;

@mixin flexBox($dir:row,$justify:space-around){
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: center;
}

.history-container{
    @include flexBox(column,start);
    height: 96dvh;
    background-color: $primaryColor;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 15dvw;
    padding: 15px;
    overflow: hidden;
}
.overflow-container{
    @include flexBox(column,start);
    height: 100%;
    overflow-y: auto;
    width: 100%;
    height: 97%;
}
.history-row{
    @include flexBox();
    font-size: 20px;
    width: 100%;
    margin-bottom: 8px;
}
.history-entry{
    @include flexBox(row, center);
    background-color: $secondaryColor;
    width: 37%;
    height: 42px;
    cursor: pointer;
}
.align-index{
    margin-left: -10px;
}
.close-history{
    background-image: url('../../assets/icons/closeHistory.svg');
    width: 50px;
    height: 105px;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
    display: flex;
    position: absolute;
    right: 16.5dvw;
    top: 0px;
    cursor: pointer;
}
.no-history{
    background-image: url('../../assets/icons/no-history.svg');
    width: 50%;
    height: 35%;
    background-repeat: no-repeat;
    background-size: contain;
    align-self: center;
    display: flex;
}