@if(toggleSidebarMenu){
    <div class="sidemenu-container">
        <span class="close-history" (click)="toggleSidebarMenu = !toggleSidebarMenu"></span>
        <div class="sidebarmenu-container">
            <div class="sidebarmenu-heading">
                Open Chess
            </div>
            <span class="botton-border-line"></span>
            @for(item of menuItem; track item; let index = $index){
                <div class="item-container" (click)="openOption(index)">
                    <span class="sidebarmenu-icon"></span>
                    <span class="sidebarmenu-text">{{item}}</span>
                </div>
            }
        </div>
    </div>
}
@else{
    <div class="sidebar-container">
        <div class="menu-icon" (click)="toggleSidebarMenu = !toggleSidebarMenu"></div>
    </div>
}