@if(toggleSidebarMenu){
    <span class="close-history" (click)="toggleSidebarMenu = !toggleSidebarMenu"></span>
    <div class="sidebarmenu-container">
        <div class="sidebarmenu-heading">
            Open Chess
        </div>
        <span class="botton-border-line"></span>
        @for(item of menuItem; track item){
            <div class="item-container">
                <span class="sidebarmenu-icon"></span>
                <span class="sidebarmenu-text">{{item}}</span>
            </div>
        }
    </div>
}
@else{
    <div class="sidebar-container">
        <div class="menu-icon" (click)="toggleSidebarMenu = !toggleSidebarMenu"></div>
    </div>
}