$primaryColor: #6B8F71;
$secondaryColor: #EDFBC1;

@mixin flexBox($dir:row,$justify:space-around){
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: center;
}

.button-defaults{
    font-size: 16px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.board-container{
    @include flexBox(column);
    height: 97dvh;
}

.button-group-container{
    @include flexBox(row,space-between);
    background-color: $secondaryColor;
    @extend .button-defaults;
    width:25dvw;
    cursor: pointer;
}
.member{
    padding: 11px 75px;
}
.selected-button{
    background-color: $primaryColor;
    color: #ffffff;
    border-radius: 16px;
}
.center-block-container{
    display: flex;
    flex-direction: row;
}
.eval-bar{
    background-image: url("../../assets/icons/eval-bar.svg");
    width: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    align-self: center;
    height: calc(98dvh * 0.8);
}
.eval-pointer{
    background-image: url("../../assets/icons/eval-point.svg");
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    align-self: center;
    position: relative;
    right: 13px;
    transition-property: top;
    transition-duration: 1s;
    transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
}
.eval-container{
    display: flex;
    margin-left: 3%;
}
.eval-points{
    position: absolute;
    top: 6%;
    font-size: 24px;
    margin-left: -1%;
}
.navigation-button-container{
    @include flexBox();
    @extend .button-defaults;
    width: 240px;
    height: 30px;
    background-color: $secondaryColor;
    cursor: pointer;
}
.next-button{
    background-image: url("../../assets/icons/next.svg");
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
    position: relative;
}
.back-button{
    background-image: url("../../assets/icons/back.svg");
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
    position: relative;
}
.reset-button{
    background-image: url("../../assets/icons/reset.svg");
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
    position: relative;
}
.nav-icon-container{
    @include flexBox(row,center);
    width: 100%;
    height: 100%;
}
.divider{
    border-right: 1px solid black;
}
.fliped{
    transform: rotateX(180deg);
}
.pgn-players-container{
    @include flexBox(row,space-around);
    background-color: $secondaryColor;
    @extend .button-defaults;
    width:25dvw;
}
.pgn-name{
    padding: 20px 0px;
    font-size: 18px;
}
.pgn-details-container{
    @include flexBox(column, space-around);
    margin-left: 3%;
    background-color: $secondaryColor;
    height: fit-content;
    width: 15dvw;
    padding: 15px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    top: 25%;
    right: 10%;
}
.detail-container{
    @include flexBox(row, space-between);
    margin-bottom: 10px;
    width: 100%;
}
.puzzle-heading-container{
    @include flexBox(row,space-around);
    background-color: $primaryColor;
    @extend .button-defaults;
    width:15dvw;
    font-size: 24px;
    color: #ffffff;
    transform: rotateX(0deg);
    backface-visibility: hidden;
}